<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shangyunshi.timecontrol">

    <!--使用记录访问权限-->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <!--WRITE_SETTINGS-->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions"/>

    <!--系统弹窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--通知使用权-->
    <!--android.service.notification.NotificationListenerService-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".TimeControlApp">

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".AuthorizationManagementActivity"></activity>

        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddTaskActivity"/>
        <activity android:name=".LabelListActivity">

        </activity>
        <activity android:name=".AddLabelActivity"/>
        <activity android:name=".AppListActivity">

        </activity>
        <activity android:name=".TaskActivity"/>

    </application>

</manifest>